.editing .updateItem {
  display: none;
}

.editing .removerItem {
  display: none;
}

.editing .inputEdit {
  display: inline-block;
}

.editing .saveItem {
  display: inline-block;
}

.editing .cancelItem {
  display: inline-block;
}

.saveItem, .cancelItem, .inputEdit {
  display: none;
}

.cancel .inputEdit .saveItem .cancelItem {
  display: none;
}
